<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ERROR</title>
</head>
<body>
    <hgroup>
        <h1>Hata!</h1>
        <h2>
            İşleminiz gerçekleştirilirken bir hata oluştu. :( )
        </h2>
    </hgroup>
</body>
</html>
